body {
    background-color: black;
    padding: 200px;
}
.Container {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 800px;
}
.PaymentCard {
    background-color: white;
    border: solid 1px black;
    border-radius: 6px;
    margin: 30px;
}
.Header {
    font-size: 25px;
    padding: 6px;
    border-bottom:solid black 1px;
    background-color: #ded8d8;
    
}
.Content {
    padding: 10px;
}
.Alert {
    background-color: pink;
    border: solid 1px red;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 12px;
}
p {
    font-size: 10px;
}
.CreditInfo {
    display: flex;
}
.CreditCard {
    width: 40%;
}
.inputwidth {
    width: 80%;
}
.inputwidthCC {
    width: 75%;
}
.label {
    margin-bottom: 5px;
}
.inputwidthCVC {
    width: 50%;
}
.Amount {   
    width: 40%
}
.inputwidthAmount {
    width: 94%;
}
.Name {
    display: flex;
    gap: 10px;
}
.FirstName {
    width:50%;
}
.inputwidthname {
    width: 90%;
}
.LastName {
    width: 50%;
}
.inputwidthLast {
    width: 95%;
}
.CSC {
    display: flex;
}
.City {
    width: 50%;
}
.inputwidthcity {
    width: 88%;
}
.Code {
    width:100%;
}
.selectwidthstate {
    width:80%;
}
.inputwidthZip {
    width: 85%
}
.CredMess {
    display: flex;
}
.Icons {
    width: 50%;
}
.Footer {
    padding: 6px;
    border-top:solid black 1px;
    background-color: #ded8d8;
    min-height: 36px;
    gap: 6px;
    display: flex;
}
    .Spacer {
        width: 100%;
}   
.btn-cancel {
        background-color: gray;
        padding: 8px 10px;
        border: none;
        font-size: 12px;
        border-radius: 4px;
        color: white;
        margin-left: auto;
}
.btn-send {
        background-color: blue;
        padding: 8px 10px;
        border: none;
        font-size: 12px;
        border-radius: 4px;
        color: white;
}